html {
    height: 100vh;
}

a {
    text-decoration: none;
}

footer,
header,
main {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    background-color: #118bee;
    border: solid 2px #118bee;
    color: #ffffff;
    padding: 1rem 2rem;
}
button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

footer {
    height: 10vh;
    padding: 1rem;
}

form {
    border: none;
    box-shadow: none;
    max-width: 100%;
}

header {
    padding: 1rem;
}

input,
label,
select,
textarea {
    display: inline;
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

input, select, textarea {
    margin-bottom: 1rem;
    /* padding: 0.4rem 0.8rem; */
}

main {
    /* height: calc(75vh); */
    min-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

nav {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 0;
    flex-wrap: wrap; /* Wrap on two lines */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}
nav li:first-child {
    margin-left: 0;
}

ol li, ul li {
    padding: 0.2rem 0;
}

section {
    padding: 1rem;
}
section#customise {
    background-color: rgba(0,0,0,0.7);
    max-width: 100%;
    position: absolute;
    /* display: none; */
}
section#customise form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; /* Wrap on two lines */
}

section#curtain {
    /* vertical-align: middle; */
    text-align: center;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 0%; */
}
section#curtain article {
    margin: auto auto;
}

.theme-rainbow {
    background: linear-gradient(230deg, #ff0000, #ffb100, #3bb100, #009bb1, #de00d0);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;

    color: #fff;
}
.theme-rainbow a {
    color: #fff;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/* Style changes for larger screens */
@media screen and (min-width:990px) {
    /* Put action buttons on same line */
    nav {
        flex-wrap: nowrap;
    }
    h1 {
        font-size: 5rem;
    }
}